body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
* {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#graph {
    width: 100vw;
    height: 100vh;
}
#input {
    position: fixed;
    top: 10vh;
    width: 0;
    overflow: visible;
}